<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <form action="" method="post">
        <p>
            <input type="password" name="password" placeholder="Old password" >
        </p>
        <p>
            <input type="password" name="confirmpassword" placeholder="Confirm password" >
        </p>
        
        <input type="submit" value="Set password">
    </form>
</body>
</html>