<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planner: welcome to office meeting planner where planning meetings has been made easy for you</title>
    <link rel="stylesheet" href="css\index.css">
    <link rel="stylesheet" href="css\footer.css">
    <script src="https://kit.fontawesome.com/19ba4afaf1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Playfair+Display&family=Roboto+Mono:ital,wght@1,100&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Playfair+Display&family=Roboto+Mono:ital,wght@1,100&family=Yuji+Syuku&display=swap');
    </style>
</head>
<body>
    <div class="con-nav">
            <!-- <a href="" class="logo-link">
                <img src="img\planner.svg" alt="logo" class="logo">
            </a> -->
        <nav class="nav">
            <ul class="nav-item">
                <li class="nav-list">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-list">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-list">
                    <a href="" class="nav-link">Help</a>
                </li>
                <li class="nav-list">
                    <a th:href="@{/loginForm}" class="nav-link"><i class="far fa-user"> Sign in</i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="headertag">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,64L40,85.3C80,107,160,149,240,192C320,235,400,277,480,277.3C560,277,640,235,720,202.7C800,171,880,149,960,133.3C1040,117,1120,107,1200,122.7C1280,139,1360,181,1400,202.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg> -->
            <img src="img\undraw_personalization_re_grty.svg" alt="" class="header-svg">
        <header>
            <h1>welcome to meeting planner</h1>
            <hr>
            <br>
            <p class="header-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Perspiciatis impedit assumenda nulla beatae eum totam <br> voluptates esse corrupti tenetur.  Doloremque placeat voluptate <br> amet nam aliquam quisquam repellendus nulla ab quas.</p>
            <br>
            <a href="" class="learn-more">learn more</a>
        </header>
</div>
<div class="main-cont">
    <div class="main-card-cont">
        <h2 class="main-h2">Connecting People</h2>
        <hr>
        <br>
        <p class="main-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Perspiciatis impedit assumenda nulla beatae eum totam <br> voluptates esse corrupti tenetur.  Doloremque placeat voluptate <br> amet nam aliquam quisquam repellendus nulla ab quas.</p>
        <br>
        <a href="login-page.html" class="login-bt">login</a>
    </div>
    <img src="img\undraw_connecting_teams_re_hno7.svg" alt="connecting svg" class="main-img">
</div>
<footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">About</h2>
        <ul class="ft-items">
          <li><a href="#" class="ft-links">Services</a></li>
          <li><a href="#" class="ft-links">Portfolio</a></li>
          <li><a href="#" class="ft-links">Pricing</a></li>
          <li><a href="#" class="ft-links">Customers</a></li>
          <li><a href="#" class="ft-links">Careers</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Resources</h2>
        <ul class="ft-items">
          <li><a href="#" class="ft-links">Docs</a></li>
          <li><a href="#" class="ft-links">Blog</a></li>
          <li><a href="#" class="ft-links">eBooks</a></li>
          <li><a href="#" class="ft-links">Webinars</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contact</h2>
        <ul class="ft-items">
          <li><a href="#" class="ft-links">Help</a></li>
          <li><a href="#" class="ft-links">Sales</a></li>
          <li><a href="#" class="ft-links">Advertise</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Stay Updated</h2>
        <p>Subscribe to our newsletter to get our latest news.</p>
        <form>
          <input type="email" name="email" placeholder="Enter email address">
          <input type="submit" value="Subscribe">
        </form>
      </div>
    </section>
   
    <!-- Footer social -->
<!--    <section class="ft-social">-->
<!--      <ul class="ft-items" class="ft-social-list">-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-facebook"></i></a></li>-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-twitter"></i></a></li>-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-instagram"></i></a></li>-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-github"></i></a></li>-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-linkedin"></i></a></li>-->
<!--        <li><a href="#" class="ft-links"><i class="fab fa-youtube"></i></a></li>-->
<!--      </ul>-->
<!--    </section>-->
<!--   -->
<!--    &lt;!&ndash; Footer legal &ndash;&gt;-->
<!--    <section class="ft-legal">-->
<!--      <ul class="ft-items" class="ft-legal-list">-->
<!--        <li><a href="#" class="ft-links">Terms &amp; Conditions</a></li>-->
<!--        <li><a href="#" class="ft-links">Privacy Policy</a></li>-->
<!--        <li>&copy; 2021 Copyright Tracom Inc.</li>-->
<!--      </ul>-->
<!--    </section>-->
  </footer>
</body>
</html>