<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>registration</title>
</head>
<body>
<form th:action="@{/register}" th:object="${user}" action="#" method="post">
    <input type="text" th:field="*{name.firstname}" placeholder="firstname"/>
    <br>
    <br>
    <input type="text" th:field="*{name.middleName}" placeholder="middleName"/>
    <br>
    <br>
    <input type="text" th:field="*{name.surname}" placeholder="surname"/>
    <br>
    <br>
    <input type="email" th:field="*{email}" placeholder="email"/>
    <br>
    <br>
    <input type="text" th:field="*{gender}" placeholder="gender"/>
    <br>
    <br>
    <input type="password" th:field="*{password}" placeholder="password" />
    <br>
    <br>
    <input type="tel" th:field="*{phone}" placeholder="phone"/>
    <br>
    <br>
    <input type="submit"/>
</form>
</body>
</html>